apache-airflow-providers-amazon
apache-airflow-providers-celery==3.0.0
apache-airflow-providers-common-sql==1.2.0
apache-airflow-providers-ftp==3.1.0
apache-airflow-providers-http==4.0.0
apache-airflow-providers-imap==3.0.0
apache-airflow-providers-postgres
apache-airflow-providers-sqlite
apache-airflow-providers-amazon
apache-airflow-providers-atlassian-jira
apache-airflow-providers-pagerduty
apache-airflow-providers-tableau
apache-airflow-providers-zendesk
apache-airflow-providers-microsoft-mssql
apache-airflow-providers-mysql
apache-airflow-providers-odbc
apache-airflow-providers-snowflake
apache-airflow-providers-salesforce
apache-airflow-providers-ssh
apache-airflow-providers-slack